.container{
  width: 100%;
  margin-top: 16px;
  p{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
  }
  .list{
    list-style-type: none;
    padding: 0;

  }
}